<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="norm/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Find Contact </title>
</head>
<body>
<section>
    <div class="card text-center">
        <div class="card-body mr-3 ml-3">
            <h1 class="text-center">Find Contact from name or phonenumber</h1>
            <div class="container-fluid mt-1">
                <div class="row">
                    <div class="col-md-8 offset-md-2">

                        <form action="#"
                              th:object="${contact}"
                              enctype="multipart/form-data"
                              method="POST"
                              th:action="@{/user/process-find}"
                              class="mt-2"
                        >
                            <div class="input-group">
                                <input type="text" id="firstName" name="name" placeholder="Enter your name"
                                       class="form-control"/>
                            </div>

                            <div class="input-group mt-3">
                                <input type="number" id="phone" name="numberPhone" placeholder="Enter your phone no."
                                       class="form-control" min="10"/>
                            </div>

                            <div class="container text-center">
                                <button class="btn btn-outline-success">Find Contact</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>