<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="d-flex justify-content-center">
    <div class="text-center">
        <h1 class="font-weight-bold">Phonebook</h1>
        <p>
            Start collecting your contact
        </p>
        <a class="btn bg-primary btn-lg text-white" th:href="@{/user/index}">Get Start</a>
    </div>
</section>

</body>
</html>